.comp-container {
  display: grid;
  grid-template-rows: min-content min-content repeat(4, min-content);
  grid-template-columns: 1fr repeat(8, minmax(min-content, 14rem)) 1fr;
}

.comp--title {
  display: flex;
  justify-content: space-between;
  background-color: var(--orange);
  height: 45rem;
  grid-row: 2 / 3;
  grid-column: 2 / 10;
  border-radius: 1rem;
}

.comp__header--text {
  margin: auto;
  width: 110%;
  padding: 0 10rem;
  color: white;
}

.comp__header--text h2 {
  font-size: 3.4rem;
  margin-bottom: 2rem;
}

.comp__header--text p {
  font-size: 1.6rem;
}

.comp__header--img {
  border-radius: 1rem;
  width: 100%;
  background-image: url(../../assets/about/desktop/image-about-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.comp {
  margin: 15rem 0;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  background-color: #fef2f0;
}

.comp.normal {
  grid-row: 3 / 4;
  grid-column: 2 / 10;
  display: flex;
  height: auto;
  height: 60rem;

  justify-content: space-between;
}

.comp__text {
  margin: auto 10rem;
  line-height: 2.8rem;
  font-weight: italic;
  color: #333136;
  width: 100%;
}

.comp__text h2 {
  color: var(--orange);
  font-size: 3.6rem;
  margin-bottom: 3rem;
}

.comp__text p {
  font-size: 1.6rem;
  font-weight: 400;
}

.comp__img {
  background-image: url(../../assets/about/desktop/image-world-class-talent.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px 0 0 10px;
  width: 100%;
  height: 100%;
}

.comp.reverse {
  grid-row: 5 / 6;
  grid-column: 2 / 10;
  width: 100%;
  height: 60rem;

  justify-content: space-between;

  display: flex;
  flex-direction: row-reverse;
}

.reverse__img {
  background-image: url(../../assets/about/desktop/image-real-deal.jpg);
  background-repeat: no-repeat;

  grid-column: 2 / 10;
  background-size: cover;
  border-radius: 10px 0 0 10px;
  width: 100%;
  height: 100%;
}

@media (max-width: 1280px) {
  .comp--title {
    grid-column: 3 / 9;
    flex-direction: column-reverse;
    height: auto;
  }

  .comp__header--text {
    width: 100%;
    margin-top: auto;
    text-align: center;
    padding-top: 2rem;
    height: 30rem;
  }

  .comp__text h2 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  .comp__header--img {
    background-image: url(../../assets/about/tablet/image-about-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 40rem;
    width: 100%;
  }

  .comp.normal {
    grid-column: 3 / 9;
    flex-direction: column;
    height: 80rem;
  }

  .comp__img {
    background-image: url(../../assets/about/tablet/image-world-class-talent.jpg);
    background-size: cover;
    height: 35rem;
    border-radius: 10px 10px 0 0;
  }

  .comp__text {
    width: 80%;
    text-align: center;
  }

  .comp.reverse {
    grid-column: 3 / 9;
    flex-direction: column;
    width: 100%;
    height: 80rem;
  }

  .reverse__img {
    background-image: url(../../assets/about/tablet/image-real-deal.jpg);
    background-size: contain;
    height: 40rem;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
}

@media (max-width: 765px) {
  .comp-container {
  }

  .comp--title {
    grid-column: 1 / -1;
    border-radius: 0;
  }

  .comp__header--img {
    background-image: url(../../assets/about/mobile/image-about-hero.jpg);
    margin: 0;
  }

  .comp__header--text {
    margin: 0;
    height: 35rem;
    padding: 2rem 2rem;
  }

  .comp__header--text h2 {
    margin-top: 2rem;
  }

  .comp__header--text p {
    margin-bottom: 3rem;
  }

  .comp__text {
    margin: auto;
  }
  .comp__text h2 {
    font-size: 2.5rem;
  }

  .comp__img {
    background-image: url(../../assets/about/mobile/image-world-class-talent.jpg);
  }

  .comp.normal,
  .comp.reverse {
    grid-column: 1 / -1;
    height: 90rem;
  }

  .reverse__img {
    background-image: url(../../assets/about/mobile/image-real-deal.jpg);
  }
}
