@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Permanent+Marker&display=swap");

:root {
  --orange: rgb(232, 128, 105);
  --white: #fff;
  --black: #000;
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "jost", sans-serif;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  line-height: 1.6;
  position: relative;
  background-image: url(../../assets/shared/desktop/bg-pattern-leaf.svg),
    url(../../assets/shared/desktop/bg-pattern-leaf.svg);
  background-repeat: no-repeat;

  background-position:
    top 25rem left 0,
    top 150rem left 30rem;
}
